[Unit]
Description=WorkingAge Service
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
User=workingage
Group=workingage
WorkingDirectory=/home/workingage/WACode
ExecStart=/usr/bin/python3 -u /home/workingage/WACode/workingAgeVoiceService.py
StandardError=journal+console
StandardOutput=journal+console
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
